<div ng-show="isSharedView(10)">
    <h2>Add New Student</h2>
    <p class="alert alert-danger" ng-if="errorMessage != ''">{{errorMessage}}</p>
    <form>
        <div id="input">
            <h3>Username</h3>
            <input type="text" name="studentId" placeholder="{{studentId}}" disabled/>
        </div>
        <div id="input">
            <h3>Student ID</h3>
            <input type="number" ng-model="studentId" name="studentId" required/>
        </div>
        <div id="input">
            <h3>Name</h3>
            <input type="text" ng-model="name" name="name" required/>
        </div>
        <div id="input">
            <h3>Password</h3>
            <input type="text" ng-model="password" name="password" required/>
        </div>
    </form>

    <multiple-autocomplete ng-model="coursesList"
                           object-property="coursecode"
                           suggestions-arr="courses">
    </multiple-autocomplete>

    <button class="btn btn-default" ng-click="setView(7)">Cancel</button>
    <md-button md-disable-backdrop="true" class="btn btn-default" ng-click="addStudent($event)">Add Student</md-button>
</div>