<div ng-show="isSharedView(10)">
    <h2>Add Student(s) To Course
        <i class="titleIcon fa fa-plus-circle" ng-click="setView(11)" aria-hidden="true"></i>
    </h2>
    <p class="alert alert-danger" ng-if="errorMessage != ''">{{errorMessage}}</p>
    <h3>Select Students(s)</h3>
    <multiple-autocomplete ng-model="studentsList"
                           object-property="student"
                           suggestions-arr="studentsNotInCourse" ng-if="students.length > 0">
    </multiple-autocomplete>
    <p class="alert alert-danger" ng-if="students.length <= 0">There are currently no students stored in the system.</p>
    <div id="btn-group">
        <button class="btn btn-default" ng-click="setView(7)">Cancel</button>
        <md-button md-disable-backdrop="true" class="btn btn-default md-btn" ng-click="addStudent($event)">Add Student</md-button>
    </div>
</div>

<div ng-show="isSharedView(11)">
    <h2>Add New Student</h2>
    <p class="alert alert-danger" ng-if="errorMessage != ''">{{errorMessage}}</p>
    <form>
        <div id="input">
            <h3>Username</h3>
            <input type="text" name="studentId" ng-model="studentId" disabled/>
        </div>
        <div id="input">
            <h3>Student ID</h3>
            <input type="number" ng-model="studentId" name="studentId" required/>
        </div>
        <div id="input">
            <h3>Name</h3>
            <input type="text" ng-model="name" name="name" required/>
        </div>
        <div id="input">
            <h3>Password</h3>
            <input type="text" ng-model="password" name="password" required/>
        </div>
    </form>
    <h3>Select Course(s)</h3>
    <multiple-autocomplete ng-model="coursesList"
                           object-property="coursecode"
                           suggestions-arr="courses" ng-if="courses.length > 0">
    </multiple-autocomplete>
    <p class="alert alert-danger" ng-if="courses.length <= 0">There are currently no courses stored in the system.</p>

    <div id="btn-group">
        <button class="btn btn-default" ng-click="setCancelEditStudentView()">Cancel</button>
        <md-button md-disable-backdrop="true" class="btn btn-default" ng-click="addNewStudent($event)">Add Student</md-button>
    </div>
</div>

<div ng-show="isSharedView(12)">
    <h2>Edit or Delete Student
        <i class="titleIcon fa fa-times-circle" ng-click="goBack()" aria-hidden="true"></i>
        <i class="titleIcon fa fa-check-circle" ng-click="updateUser($event, 0)" aria-hidden="true"></i>
    </h2>
    <p class="alert alert-danger" ng-if="errorMessage != ''">{{errorMessage}}</p>
    <form>
        <div id="input">
            <h3>Username</h3>
            <input type="text" name="studentId" ng-model="selectedUser.studentId" disabled/>
        </div>
        <div id="input">
            <h3>Student ID</h3>
            <input type="number" ng-model="selectedUser.studentId" name="studentId" required/>
        </div>
        <div id="input">
            <h3>Name</h3>
            <input type="text" ng-model="selectedUser.name" name="name" required/>
        </div>
        <div id="input">
            <h3>Password</h3>
            <input type="text" ng-model="selectedUser.password" name="password" required/>
        </div>
    </form>
    <h3>Select Course(s)</h3>
    <multiple-autocomplete ng-model="coursesList"
                           object-property="coursecode"
                           suggestions-arr="courses" ng-if="courses.length > 0">
    </multiple-autocomplete>
    <p class="alert alert-danger" ng-if="courses.length <= 0">There are currently no courses stored in the system.</p>

    <div id="btn-group">
        <md-button md-disable-backdrop="true" class="btn btn-default" ng-click="deleteUser($event)">Delete Student</md-button>
    </div>
</div>