<div id="admin">
    <div id="menu" ng-show="isView('admin', 2)">
        <h2>Home</h2>
        <div id="btn">
            <button class="btn btn-default" ng-click="setView(3)">Manage Courses</button>
        </div>

        <div id="btn">
            <button class="btn btn-default">Manage Lecturers</button>
        </div>

        <div id="btn">
            <button class="btn btn-default">Manage Students</button>
        </div>
    </div>

    <div ng-show="isView('admin', 3)">
        <h2>Courses
            <i class="titleIcon fa fa-plus-circle" ng-click="setView(6)" aria-hidden="true"></i>
        </h2>

        <hr>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="c in courses">
                    <td>{{c.coursecode}}</td>
                    <td><button class="btn btn-default" ng-click="setView(7); setCourse(c)">Manage</button></td>
                </tr>
            </tbody>
        </table>
        <p ng-if="courses.length <= 0">There are currently no courses in the system.</p>
    </div>

    <div ng-show="isView('admin', 6)">
        <h2>Add Course</h2>
        <hr>
        <p class="alert alert-danger" ng-if="errorMessage != ''">{{errorMessage}}</p>
        <div id="input">
            <h3>Course Code</h3>
            <input type="text" ng-model="courseCode" name="courseCode"/>
        </div>
        <div id="btn-group">
            <button class="btn btn-default" ng-click="setView(3)">Cancel</button>
            <md-button md-disable-backdrop="true" class="btn btn-default" ng-click="addCourse($event)">Add Course</md-button>
        </div>
    </div>
</div>