<div ng-show="isSharedView(9)">
    <h2>{{currentAssessment.title}}
        <i class="titleIcon fa fa-pencil" ng-click="setView(16)" ng-show="userType == 'lecturer'" aria-hidden="true"></i>
    </h2>
    <hr>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row" class="col-sm-4">Start Date</th>
            <td scope="col" class="col-sm-8">{{currentAssessment.startdate | date: "dd MMM yyyy"}}</td>
        </tr>
        <tr>
            <th scope="row">Due Date</th>
            <td scope="col">{{currentAssessment.duedate | date: "dd MMM yyyy"}}</td>
        </tr>
        <tr>
            <th scope="row">Course</th>
            <td scope="col">{{currentAssessment.coursecode}}</td>
        </tr>
        <tr>
            <th scope="row">Type</th>
            <td scope="col">{{currentAssessment.assessmenttype}}</td>
        </tr>
        <tr>
            <th scope="row">Details</th>
            <td scope="col" style="word-break: break-word;">{{currentAssessment.details}}</td>
        </tr>
        </tbody>
    </table>

    <hr>
    <table class="table table-striped">
        <tbody>
            <thead>
                <tr>
                    <th scope="col" style="font-size: 20px">Tasks</th>
                    <th></th>
                    <th scope="col"><i class="fa fa-plus-circle" ng-click="addTask($event)" ng-show="userType == 'lecturer'" style="font-size: 25px; float: right" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tr>
                <th class="col-sm-6">Name</th>
                <td class="col-sm-4">Points</td>
                <td class="col-sm-2" ng-show="userType == 'student'">Mark Done</td>
            </tr>
            <tr ng-repeat="task in tasks">
                <td>{{task.description}}</td>
                <td>{{task.points}}</td>
                <td>
                    <div ng-show="userType == 'lecturer'">
                        <i class="fa fa-pencil" ng-click="editTask(task)" aria-hidden="true"></i>
                        <i class="fa fa-trash" ng-click="deleteTask($event, task)" aria-hidden="true"></i>
                    </div>
                    <div ng-show="userType == 'student'">
                        <i class="fa fa-check-square-o" ng-click="taskDone(task)" aria-hidden="true" ng-hide="task.completed"></i>
                        <i class="fa fa-check-square" ng-click="taskDone(task)" aria-hidden="true" ng-show="task.completed"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-if="tasks.length <= 0">There are currently no tasks for this assessment.</p>
</div>