<div ng-show="isSharedView(9)">
    <h2>{{currentAssessment.title}}</h2>
    <hr>
    <table>
        <tr>
            <td><h3>Start Date</h3></td>
            <td>{{currentAssessment.startdate}}</td>
        </tr>
        <tr>
            <td><h3>Due Date</h3></td>
            <td>{{currentAssessment.duedate}}</td>
        </tr>
        <tr>
            <td><h3>Class</h3></td>
            <td>{{currentAssessment.coursecode}}</td>
        </tr>
        <tr>
            <td><h3>Type</h3></td>
            <td>{{currentAssessment.type}}</td>
        </tr>
    </table>
    <h3>Details</h3>
    <p>{{currentAssessment.details}}</p>
</div>