<div ng-show="isSharedView(9)">
    <h2>{{currentAssessment.title}}</h2>
    <hr>
    <table>
        <tbody>
        <tr>
            <th scope="row">Start Date</th>
            <td>{{currentAssessment.startdate}}</td>
        </tr>
        <tr>
            <th scope="row">Due Date</th>
            <td>{{currentAssessment.duedate}}</td>
        </tr>
        <tr>
            <th scope="row">Class</th>
            <td>{{currentAssessment.coursecode}}</td>
        </tr>
        <tr>
            <th scope="row">Type</th>
            <td>{{currentAssessment.type}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Details</h3>
    <p>{{currentAssessment.details}}</p>
</div>