<div ng-show="isView('student', 5)">
    <h2>Enrolled Courses</h2>

    <hr>
    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="c in courses">
            <td>{{c.coursecode}}</td>
            <td><button class="btn btn-default" ng-click="setView(6); setCourse(c)">View Assessments</button></td>
        </tr>
        </tbody>
    </table>
    <p ng-if="courses.length <= 0">You are currently not enrolled in any course</p>
</div>

<div ng-show="isView('student', 6)">
    <h2>{{currentCourse.coursecode}} Assessments</h2>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in qs.assessments()">
                <td>{{a.title}}</td>
                <td>
                    <button class="btn btn-default" ng-click="setAssessment(a)">View Details</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-if="qs.assessments().length <= 0">There are currently no assessments for this course.</p>
</div>