<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/scripts/angular.js"></script>
  <script src="/scripts/angular-route.js"></script>
  <script src="/scripts/angular-material.min.js"></script>
  <link rel="stylesheet" href="/scripts/angular-material.min.css">
  <script src="/scripts/angular-aria.min.js"></script>
  <script src="/scripts/angular-animate.min.js"></script>
  <script src="/scripts/angular-messages.min.js"></script>

  <script src="scripts/multiple-select.min.js"></script>
  <link href="scripts/multiple-select.min.css" rel="stylesheet" />


  <script src="./javascripts/calendar.js"></script>
  <script src="./javascripts/calendar-helper.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body ng-cloak>
<div id="mainDiv" ng-controller="calendarController as vm">
  <div>
    <div id="login" ng-show="isView('', 1)">
        <% include login.ejs %>
    </div>

    <div>
      <div id="input" ng-hide="isView('', 1)" class="logout">
        <i class="fa fa-sign-out fa-2x" ng-click="logout()" aria-hidden="true"></i>
        <i class="fa fa-home fa-2x" ng-click="goHome()" ng-show="view > 2" aria-hidden="true"></i>
        <i class="fa fa-arrow-left fa-2x" ng-click="goBack()" ng-show="view > 5" aria-hidden="true" style="float:left"></i>
      </div>
    </div>

    <% include adminView.ejs %>
      <% include manageCourse.ejs %>
      <% include editDeleteCourse.ejs %>
      <% include assessmentDetails.ejs %>
      <% include addStudent.ejs %>
    <% include calendar.ejs %>
  </div>

</div>
</body>
</html>