<!DOCTYPE html>
<html ng-app="studentPlanner">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-route.js"></script>
    <script src="./javascripts/test.js"></script>
  </head>
  <body ng-controller="mainBodyController">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
s