<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/scripts/angular.js"></script>
  <script src="/scripts/angular-route.js"></script>
  <script src="./javascripts/calendar.js"></script>
  <script src="./javascripts/calendar-helper.js"></script>
</head>
<body ng-controller="calendarController as vm">
<div id="login" ng-show="isView('', 1)">
    <% include login.ejs %>
</div>

<div>
  <div id="input" ng-hide="isView('', 1)">
    <input type="submit" value="Log Out" class="btn btn-default" ng-click="logout()">
  </div>
</div>

<% include adminView.ejs %>

<% include calendar.ejs %>
</body>
</html>