<!DOCTYPE html>
<html ng-app="studentPlanner">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-route.js"></script>
    <script src="/scripts/angular-material.min.js"></script>
    <link rel="stylesheet" href="/scripts/angular-material.min.css">
    <script src="/scripts/angular-aria.min.js"></script>
    <script src="/scripts/angular-animate.min.js"></script>
    <script src="/scripts/angular-messages.min.js"></script>

    <script src="scripts/isteven-multi-select.js"></script>
    <link href="scripts/isteven-multi-select.css" rel="stylesheet" />

    <script src="./javascripts/main.js"></script>

    <script src="./javascripts/calendar.js"></script>
    <script src="./javascripts/calendar-helper.js"></script>
    <script src="./javascripts/queryService.js"></script>
    <script src="./javascripts/dialogService.js"></script>
    <script src="./javascripts/jsFunctionService.js"></script>

    <link rel="stylesheet" type="text/css" href="scripts/css/font-awesome.min.css" />
    <link rel="icon" href="./images/logo.png" type="image/png">
</head>
<body ng-cloak>
<div id="mainDiv" class="container">
    <div  ng-controller="mainBodyController">
        <div id="login" class="container" ng-show="isView('', 1)">
            <% include login.ejs %>
        </div>

        <div>
            <div id="input" ng-hide="isView('', 1)" class="logout">
                <% include studentMenu.ejs %>
                <i class="fa fa-sign-out fa-2x" ng-click="logout()" aria-hidden="true"></i>
                <i class="fa fa-home fa-2x" ng-click="goHome()" ng-show="showHomeButton()" aria-hidden="true"></i>
                <i class="fa fa-arrow-left fa-2x" ng-click="goBack()" ng-show="view > 5" aria-hidden="true" style="float:left"></i>
            </div>
        </div>

        <% include adminView.ejs %>
        <% include manageCourse.ejs %>
        <% include coupons.ejs %>
        <% include editDeleteCourse.ejs %>
        <% include assessmentDetails.ejs %>
        <% include addStudent.ejs %>
        <% include lecturerView.ejs %>
        <% include studentRewards.ejs %>
        <% include enrolledCourses.ejs %>
    </div>
    <% include calendar.ejs %>
</div>
</body>
</html>