<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/scripts/angular.js"></script>
  <script src="/scripts/angular-route.js"></script>
  <script src="./javascripts/calendar.js"></script>
  <script src="./javascripts/calendar-helper.js"></script>
</head>
<body ng-controller="calendarController as vm">
<div id="login" ng-hide="loggedIn">
    <% include login.ejs %>
</div>
<div>

</div>

<% include calendar.ejs %>
</body>
</html>