<div ng-show="isSharedView(3)">
    <h2>Manage Courses
        <i class="titleIcon fa fa-plus-circle" ng-click="setView(6)" ng-show="userType == 'admin'" aria-hidden="true"></i>
    </h2>

    <hr>
    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="c in courses">
            <td>{{c.coursecode}}</td>
            <td><button class="btn btn-default" ng-click="setView(7); setCourse(c)">Manage</button></td>
        </tr>
        </tbody>
    </table>
    <p ng-if="qs.courses().length <= 0">There are currently no courses stored in the system.</p>
</div>

<div ng-show="isSharedView(7)">
    <h2>{{currentCourse.coursecode}}
        <i class="titleIcon fa fa-pencil" ng-click="setView(8)" aria-hidden="true"></i>
    </h2>
    <hr>
    <h3>Assessments
        <i class="fa fa-plus-circle" ng-click="setView(15); setNewAssessment()" ng-show="userType == 'lecturer'" style="float: right" aria-hidden="true"></i>
    </h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in qs.assessments()">
                <td>{{a.title}}</td>
                <td>
                    <button class="btn btn-default" ng-click="setView(9); setAssessment(a)">More Information</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-if="qs.assessments().length <= 0">There are currently no assessments for this course.</p>
    <hr>
    <h3>Students
        <i class="fa fa-plus-circle" ng-click="setView(10)" style="float: right" aria-hidden="true"></i>
    </h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Student ID</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in qs.studentsInCourse()">
            <td>{{s.name}}</td>
            <td>{{s.studentid}}</td>
            <td>
                <i class="fa fa-pencil" ng-click="setView(12); setStudent(s)" ng-show="userType == 'admin'" aria-hidden="true"></i>
                <i class="fa fa-trash" ng-click="removeStudentFromCourse(s, $event)" aria-hidden="true"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>