<div ng-show="isSharedView(7)">
    <h2>{{currentCourse.coursecode}}
        <i class="titleIcon fa fa-pencil" ng-click="setView(8)" aria-hidden="true"></i>
    </h2>
    <hr>
    <h3>Assessments</h3>
    <table>
        <tr ng-repeat="a in assessments">
            <td>{{a.title}}</td>
            <td ng-show="userType == 'lecturer'"><button class="btn btn-default" ng-click="setView(9); setAssessment(a)">Manage</button></td>
        </tr>
    </table>
    <p ng-if="assessments.length <= 0">There are currently no assessments for this course.</p>
    <hr>
    <h3>Students
        <i class="fa fa-plus-circle fa-2" ng-click="setView(10)" style="float: right" aria-hidden="true"></i>
    </h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Student ID</td>
            <td></td>
        </tr>
        <tr ng-repeat="s in students">
            <td>{{s.name}}</td>
            <td>{{s.studentid}}</td>
            <td>
                <i class="fa fa-pencil" ng-click="" aria-hidden="true"></i>
                <i class="fa fa-trash" ng-click="" aria-hidden="true"></i>
            </td>
        </tr>
    </table>
</div>